*{
    background-image:url(../multimedia/img/ruleta2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* z-index: -1; */ /* Removed global z-index */
}

body {    
    overflow: hidden;
    margin: 0; /* Remove default margin to align the canvas properly */
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Eliminar estilos para .draggable-image si ya no se requiere */
/*
.draggable-image {
    width: 100px;
    height: 100px;
    cursor: grab;    
    position: absolute;    
    top: 20px;    
    left: 20px;
}
*/

/* Add z-index to ensure coordinates are visible */
#coordinates {
    z-index: 2;
    position: absolute; /* Ensure position is set */
    background: rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 5px;
}

/* Style for the clear button */
#clearButton {
    /* Positioning is already handled inline, but additional styles can be added here if necessary */
    /* Example: Add a hover effect */
    transition: transform 0.2s;
}

#clearButton:hover {
    transform: scale(1.1);
}

/* Optionally, style for chips if using HTML elements */
/*
.chip {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
}
*/